
<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Подтвердите регистрацию Journal Registration Job</title>
  </head>
  
  <body>
    <p><b>Зарегился новый пользователь подтверди его.</b></p>
    
    <p><i>Данные нового пользователя:</i></p>
    <p><font size="-1">Имя: <%= Name %> </font></p>
    <p><font size="-1">Емейл: <%= Email %> </font></p>
    <p><font size="-1">Профессия: <%= Position %></font></p>
    <p><font size="-1">Участок: <%= Departament %></font></p>
    
    <p><br>
    </p>
    <p>Для подтверждения пользователя щелкни по этой ссылке:</p>
    
    <p><font color="#748fa3"><i>ссылка</i><br>
     <p><a moz-do-not-send="true" href="<%= url %>"><%= url %></a></p>
    
      </font></p>
  </body>
</html>


