<% layout('layout/page') -%>

<% block('title', 'Список задач'); -%>

  <script src="./js/task_load.js"></script>

  <!--всплывающее toast сообщение нужно встраивать через скрипт-->
<!--  <div class="toast" id='testToast' role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    
  </div>
</div>-->

    <button type='button' data-toggle='modal' data-target='#edit_task_modal'
                   class="btn btn-primary my-2">Добавление задачи
    </button>
   <button type='button' id='filter1' class="btn btn-secondary my-2 btn-sm">
       Фильтр локомотивы
    </button>
    <button type='button' id='filter2' class="btn btn-secondary my-2 btn-sm">
       Фильтр заявки
    </button>
  
  
    <form class="form-inline my-3 my-lg-2" id="search_form">
        
        
        <!--если передан параметр search-->
        <% if (search) { %>
        <!--добавляем значение параметра-->
                <input class="form-control mr-sm-2" id='input-search' type="search" placeholder="Search" 
                       aria-label="Search" value= "<%= search %>" >
                       
                       
         <% } else { %>
                <input class="form-control mr-sm-2" id='input-search' type="search" placeholder="Search" 
                       aria-label="Search" value="">
        <% } %>
        
      
        <button class="btn btn-outline-success my-2 my-sm-0" id='btn-search' type="submit">Search</button>
    </form>
          
          
  
  
      
    <div class="list-group">
    <!--TODO: IF ACTIVE TO SHOW button-->
        <% data.forEach(datai => { %>
         
        <button type='button' id="<%= datai._id %>" data-toggle='modal' data-target='edit_task_modal2' class="list-group-item list-group-item-action">
         
        
        <span id="<%= datai._id %>" class="card-name"><%= datai.Name %></span>
            
        
        <% if (datai.Resource || datai.Creator || datai.TypeTask) { %>
            <span id="<%= datai._id %>" class="card">
                
                        <% if (datai.TypeTask) { %>
                            Тип задачи:<%= datai.TypeTask %>
                        <% } %>
                        
                        <% if (datai.Creator) { %>
                            Автор задачи: <%= datai.Creator %>
                        <% } %>
                        <% if (datai.Resource) { %>
                            Ресурсы для исполнения: <%= datai.Resource %>
                        <% } %>
            </span>
                            
                
        
        <% } %>
        </button>
        
        <% }) %>
    </div>
  

  


<!-- Modal Create-->
<%- partial ('./partials/ModalWindowTask') %> 


