<% layout('layout/page') -%>

<% block('title', 'Отчеты по задачам'); -%>

<script src="./js/report_load.js"></script>

<h1>Отчеты по задачам</h1>


<% if (message.length > 0) { %>
<div class='alert alert-danger'>
    <p>my flash message: <%= message %> </p>
</div>
<% } %>

<% if (warning.length >0) { %>
<div class='alert alert-danger'>
    <p>my flash message warning: <%= warning %> </p>
</div>
<% } %>


    
    <div class='row'>
        <div class='col'>
            <label for="from">Выберите период: от</label>
            <input type="text" id="from" name="from">
            <label for="to">до</label>
            <input type="text" id="to" name="to">
        </div>
   </div>
       

    <div class='row'>
        <div class='col'>
            <p>bla bla bla</p>
        </div>
        
    </div>
    <div class='row'>
        <div class='col'>
            <label for="number">Select a number</label>
            <select name="number" id="number">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
            </select>
        
        </div>
           
        <div class='col'>
               <label for="number">Select a number</label>
                <select name="number" id="number2">
                  <option>1</option>
                  <option>2</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                </select>
               
        </div>
           
        <div class='col'>
               <label for="number">Select a number</label>
                <select name="number" id="number">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                </select>
               
        </div>
        
        
        
        <div class='col'>
               <label for="number">Select a number</label>
                <select name="number" id="number">
                  <option>1</option>
                  <option selected="selected">2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                </select>
               
        </div>
           
        <div class='col'>
               <label for="number">Select a number</label>
                <select name="number" id="number">
                  <option>1</option>
                  <option selected="selected">2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                </select>
               
           </div>
           
       </div>
    
  
    
    <!-- table -->
    

<table class="table table-responsive">
  <thead class='thead-dark'>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Name</th>
      <th scope="col">DateStart</th>
      <th scope="col">Status</th>
      <th scope="col">DateEnd</th>
      <th scope="col">Responsible</th>
      <th scope="col">TypeTask</th>
      <th scope="col">Creator</th>
      <th scope="col">Profession</th>
      <th scope="col">Resource</th>
      <th scope="col">ExpenseTime</th>
      <th scope="col">Priority</th>
    </tr>
  </thead>
  
  <tbody>
   
      <% data.forEach(datai => { %>
      
        <tr>
          <th id="<%= datai.id %>"> <%=datai.id%> </th>
          <td><%= datai.Name %></td>
          <td><%= datai.DateStart %></td>
          <td><%= datai.Status %></td>
          <td><%= datai.DateEnd %></td>
          <td><%= datai.Responsible %></td>
          <td><%= datai.TypeTask %></td>
          <td><%= datai.Creator %></td>
          <td><%= datai.Profession %></td>
          <td><%= datai.Resource %></td>
          <td><%= datai.ExpenseTime %></td>
          <td><%= datai.Priority %></td>
          
          
        </tr>

    <% }) %>
    
       
    
    
  </tbody>
</table>

    
    
    
    
    
    
    
    
    
    <!-- container fluid div  -->






    
    





  

<!-- Modal Window Task-->
<%- partial ('./partials/ModalWindowTask') %> 
 