<% layout('layout/page') -%>

<% block('title', 'Отчеты по задачам'); -%>

<script src="./js/report_load.js"></script>

<h1>Отчеты по задачам</h1>

<!-- flash messages -->
<% if (message.length > 0) { %>
<div class='alert alert-danger'>
    <p>my flash message: <%= message %> </p>
</div>
<% } %>

<% if (warning.length >0) { %>
<div class='alert alert-danger'>
    <p>my flash message warning: <%= warning %> </p>
</div>
<% } %>


<!-- filter -->     
    <div class='row'>
        <div class='col'>
            <label for="from">Период для даты создания: от</label>
            <input type="text" id="DateStartFrom" name="DateStart1">
            <label for="to">до</label>
            <input type="text" id="DateStartTo" name="DateStart2">
        </div>
    </div>

    <div class='row'>
            <div class='col'>
                <label for="from">Период для даты окончания: от</label>
                <input type="text" id="DateEndFrom" name="DateEnd1">
                <label for="to">до</label>
                <input type="text" id="DateEndTo" name="DateEnd2">
            </div>
        </div>

    <div class='row'>
        <div class='col-md'>
            <!-- Фильтр по типу задач -->
            <select class='custom-select' name="number" id="TypeTaskFilter" title='Тип задачи'>
                <option data-hidden='true' value="" selected disable hidden>Тип задачи</option>
                <option value="Хоз.работы">Хоз.работы</option>
                <option value="Срочный ремонт">Срочный ремонт</option>
                <option value="Ремонт локом.">Ремонт локом.</option>
                <option value="Плановый ремонт">Плановый ремонт</option>
            </select>
        </div>
           
        <div class='col-md'>
            <!-- фильтр по статусу задач -->
                <select  class='custom-select' name="number" id="StatusFilter" title='Статус задачи'>
                    <option data-hidden='true' value="" selected disable hidden>Статус задачи</option>
                    <option value="Активная">Активная</option>
                    <option value="Выполнено">Выполнено</option>
                    <option value="Отложено">Отложено</option>
                    <option value="Заявка">Заявка</option>
                </select>
               
        </div>
           
        
        <div class='col-md'>
            <select class='custom-select' name="number" id="CreatorFilter" title='Автор задачи'>
                <option data-hidden='true' value="" selected disable hidden>Автор задачи</option>
                    <option value="Лаптев">Лаптев</option>
                    <option value="Красильников">Красильников</option>
                    <option value="Ирашин">Ирашин</option>
                    
                    <!--  todo  тут добавь выборку из базы для взятия всех возможных авторов -->
                   
                </select>
               
        </div>
        
        <div class='col-md'>
            <select class='custom-select' name="number" id="ResourceFilter" title='Только с ресурсами'>
                  <option data-hidden='true' value="" selected disable hidden>Ресурсы</option>
                  <option value="1">Требуются</option>
                  <option value="2">Не требуются</option>
            </select>
               
        </div>
        
        <div class='col-md'>
            <button type='button' id='toApplyFilter' class="btn btn-secondary btn-sm text-nowrap">
                    Применить фильтры
            </button>
       
        </div>
        <div class='col-md'>
            <button type='button' id='toClearFilter' class="btn btn-secondary btn-sm text-nowrap">
                    Сбросить фильтры
            </button>
       
        </div>
         
    </div>

       
            


  
<!-- table -->
<table class="table table-responsive">
  <thead class='thead-dark'>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Name</th>
      <th scope="col">DateStart</th>
      <th scope="col">Status</th>
      <th scope="col">DateEnd</th>
      <th scope="col">Responsible</th>
      <th scope="col">TypeTask</th>
      <th scope="col">Creator</th>
      <th scope="col">Profession</th>
      <th scope="col">Resource</th>
      <th scope="col">ExpenseTime</th>
      <th scope="col">Priority</th>
    </tr>
  </thead>
  
  <tbody>
      
                
      <% data.forEach(datai => { %>
      
        <tr>
          <th id="<%= datai.id %>"> <%=datai.id%> </th>
          <td><%= datai.Name %></td>
          <td><%= moment(datai.DateStart).format('DD.MM.YYYY, HH:mm') %></td>
          
          <td><%= datai.Status %></td>
          
          <% if(datai.DateEnd) { %>
                <td><%= moment(datai.DateEnd).format('DD.MM.YYYY, HH:mm') %></td>
          <% } else { %>
                <td></td>
          <% } %>
          
          <td><%= datai.Responsible %></td>
          <td><%= datai.TypeTask %></td>
          <td><%= datai.Creator %></td>
          <td><%= datai.Profession %></td>
          <td><%= datai.Resource %></td>
          <td><%= datai.ExpenseTime %></td>
          <td><%= datai.Priority %></td>
          
          
        </tr>

    <% }); %>
    
       
    
    
  </tbody>
</table>

    
    
    
    
    
    
    
    
    
    <!-- container fluid div  -->






    
    





  

<!-- Modal Window Task-->
<%- partial ('./partials/ModalWindowTask') %> 
 